.search-input{
    width: 50vw!important;
    margin: 0 auto;
}

th {
    color: rgb(69, 119, 146) !important;
}

.supplies {
    margin-top: 6vh;
   
}
.fa-pen-to-square {
    color: rgb(182, 158, 212);
}

.fa-calculator {
    color: rgb(218, 162, 212)
}

.fa-trash {
    color: red;
}

.fa-circle-info {
    color: rgb(144, 203, 211);
}