* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.supply-details {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    text-align: left;   
}

.supply-image {
    max-width: 500px;
    min-width: 290px;
    margin: 30px;
   
}

.note {
    box-shadow: 0 0 5px #ccc;
    height: 100px;
}

.info {
    margin: 20px; 
    line-height: 1.6;
}

.info span {
    font-weight: bold;
}

.edit-details {
    margin-top: 10px;
    
}

