.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.success {
    color: green;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.logout {
    cursor: pointer;
    color: blue
}

.form {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) ;
    padding: 2rem;
    margin: 1.5rem auto;
    width: 35vw;
}

.input {
    margin: 0.5rem 0;
}

.form-control {
    width: 100%;
    border: 1px solid rgb(182, 158, 212);
    border-radius: 5px;
}

.auth-btn{
    background-image: linear-gradient(to bottom right, rgb(182, 158, 212), rgb(218, 162, 212), rgb(232, 223, 221), rgb(249, 253, 252), rgb(217, 238, 241), rgb(144, 203, 211));
    color: rgb(69, 119, 146);
    font-weight: 700;
    border: none;
    /* height: 5vh; */
    width: 95%;
}

.auth-h1 {
    background-image: -webkit-linear-gradient(70deg, 
        rgb(182, 158, 212),
        rgb(232, 223, 221),
        rgb(144, 203, 211));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7vh;
    margin-bottom: 1rem;
    font-weight: 700; 
}