.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.success {
    color: green;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.logout {
    cursor: pointer;
    color: blue
}

.form {
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) ;
    padding: 2rem;
    margin: 1rem auto;
  

}